***** Welcome to {{ ansible_distribution }} server *****
The IP address of this machine is {{ ansible_default_ipv4.address }}
The Hostname of this machine is {{ ansible_fqdn }}
**** Ansible is a powerfull configuration management tool *****
